.navbar.navbar-default {
	background: #201f22;
	position: fixed;
	top: 0;
	min-height: 65px;
}
body.logged-in .navbar.navbar-default {
	top: 35px!important;
}
#undefined-sticky-wrapper {
	height: 60px!important;
}
#logo a {
	font-size: 16px;
	line-height: 20px;
	margin-top: 12px;
}
.navbar-default .navbar-nav > li > a {
	padding: 5px 15px;
	border-radius: 20px;
	margin: 0 5px;
}
.navbar-default .navbar-nav > .active > a {
	background: #1f62dd;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
	background: rgba(255,255,255, .1);
}
#menu-main, #menu-main-menu {
	margin-top: 15px;
}
#buddypress #friend-list li div.item-avatar, #buddypress #member-list li div.item-avatar, #buddypress #members-list li div.item-avatar {
	width: auto;
	height: auto;
	border-color: #e5e5e5;
}
#buddypress #groups-list .item-avatar {
	width: 100%;
	border-radius: 0!important;
	border: none;
	display: block;
	max-height: 220px;
	overflow: hidden;
}
#buddypress #groups-list .item-avatar a {
	width: 100%;
	border-radius: 0!important;
	border: none;
	display: block;
}
#buddypress #groups-list .item-avatar.rounded img {
	width: 100%;
	height: auto;
	border-radius: 0;
}
#buddypress #friend-list .friend-inner-list, #buddypress #member-list .member-inner-list, #buddypress #members-list .member-inner-list {
	border-color: #e5e5e5;
}
#buddypress #groups-list .group-inner-list {
	border-color: #e5e5e5;
	padding-top: 0;
}
#buddypress #groups-list .item-avatar .member-count {
	background: #fff;
}
body.page-id-11 #page, body.page-id-10 #page {
	background: url(../../assets/img/bg-head-groups.jpg) top center no-repeat;
}
.hentry {
	background: transparent;
}
body.page-id-11 #page h1, .white-desc {
	color: #fff;
	text-align: right;
	padding: 0;
}
body.groups #page header.entry-header {
	padding: 0;
	border: none;
}
#groups-dir-list {
	margin-top: 30px;
}
#buddypress div.item-list-tabs#subnav {
	background: #201f22;
	padding: 18px;
}
#search-members-form, #search-groups-form {
	background: rgba(255,255,255,.3);
}
#buddypress div#group-dir-search input[type=text]:focus, #buddypress div#members-dir-search input[type=text]:focus {
	outline: none;
}
#buddypress div.item-list-tabs#subnav ul li.selected a, #buddypress div.item-list-tabs#subnav ul li a:hover {
	color: #fff;
}
#groups-order-by, #members-order-by {
	background: rgba(255,255,255,.3);
	padding: 5px 15px;
	color: #fff;
	max-width: inherit;
}
#buddypress div.item-list-tabs ul li.last select {
	max-width: inherit;
}
#groups-order-by > option, #members-order-by > option {
	color: #201f22 !important;
}
#buddypress div#group-dir-search, #buddypress div#members-dir-search {
	text-align: right;
}
#buddypress div.dir-search input[type=text] {
	color: #fff!important;
}
#buddypress #groups-list li{
	text-align:left;
}
#buddypress #groups-list li div.action{
	text-align:left;
	margin-left:20px;
}
.buddypress #item-header-avatar {
	border:10px solid #e5e5e5;
	box-shadow:none;
}
#buddypress .activity-list .activity-avatar, #buddypress .activity-timeline, #buddypress .activity-list li .activity-content{
	border-color:#e5e5e5;
}
#buddypress div#item-nav .responsive-tabs, #buddypress div.item-list-tabs#subnav{margin:0;}