/*
Theme Name: WP RootStrap
Theme URI: http://crayonux.com/projects/wp-rootstrap/
Author: Basanta Moharana
Author URI: http://crayonux.com/

Description: WP RootStrap is a flat and minimal design theme powered by TwitterBootstrap 3.0. It has unique designed for SEO optimization with faster page loading. It can be  used as a started theme for development of any website. It has lots of theme hook to help developer for further development.  The flat look starter theme having a lot of theme functionality to manage logo fav icon and social media profile etc. The theme can be used for any kind of blog or news websites. This is fully responsive theme, works perfectly with any mobile devices or tablet.   
* Global
* Content
* Post styling
* Singe Post/Page Pagination
* Media
* Widgets
* Buttons
* Infinite Scroll
* Custom Styles
* Navigation
* Comments
* Attachment styling
* Footer
* Mobile Styling
* Social icons
* Call For Action

Version: 1.2.4
License: GNU General Public License v3 or later
License URI: http://www.gnu.org/licenses/gpl-3.0.html
Tags: white, light, green,  two-columns, right-sidebar, left-sidebar, responsive-layout, custom-menu, featured-images
Text Domain: rootstrap

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

rootstrap is based on Underscores http://underscores.me/, (C) 2012-2013 Automattic, Inc.

*/

/* Table of content
----------------------------------------------- 
1. Global
2. Content
3. Post styling
4. Singe Post/Page Pagination
5. Media
6. Widgets
7. Buttons
8. Infinite Scroll
8. Custom Styles
9. Navigation
10. Comments
11. Attachment styling
12. Footer
13. Mobile Styling
14. Social icons
15. Call For Action
*/
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
/* =Global
----------------------------------------------- */
body {
  color: #6B6B6B;
  word-wrap: break-word;
  line-height: 1.7;
  font-size: 14px;
  background: #f6f6f6;
  font-family: 'Montserrat', sans-serif;
}

a {
  color: #1f62dd;
  text-decoration: none;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

a:hover,
a:focus {
  color: #333;
  text-decoration: none;
}

a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  color: #1f62dd;
}

h1,
.h1 {
  font-size: 32px;
}

h2,
.h2 {
  font-size: 28px;
}

h3,
.h3 {
  font-size: 24px;
}

h4,
.h4 {
  font-size: 18px;
}

h5,
.h5 {
  font-size: 16px;
}

h6,
.h6 {
  font-size: 14px;
}

img {
  height: auto; /* Make sure images are scaled correctly. */
  max-width: 100%; /* Adhere to container width. */
}
button,
input,
select,
textarea {
  font-size: 100%; /* Corrects font size not being inherited in all browsers */
  margin: 0; /* Addresses margins set differently in IE6/7, F3/4, S5, Chrome */
  vertical-align: baseline; /* Improves appearance and consistency in all browsers */
  *vertical-align: middle; /* Improves appearance and consistency in all browsers */
}

input[type="checkbox"],
input[type="radio"] {
  padding: 0; /* Addresses excess padding in IE8/9 */
}
input[type="search"] {
  -webkit-appearance: textfield; /* Addresses appearance set to searchfield in S5, Chrome */
  -webkit-box-sizing: content-box; /* Addresses box sizing set to border-box in S5, Chrome (include -moz to future-proof) */
  -moz-box-sizing:    content-box;
  box-sizing:         content-box;
}
input[type="search"]::-webkit-search-decoration { /* Corrects inner padding displayed oddly in S5, Chrome on OSX */
  -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner { /* Corrects inner padding and border displayed oddly in FF3/4 www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/ */
  border: 0;
  padding: 0;
}
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
  color: #666;
  border: 1px solid #E8E8E8;
  border-radius: 3px;
}
input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
textarea:focus {
  color: #111;
}
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"] {
  padding: 3px;
}
textarea {
  overflow: auto; /* Removes default vertical scrollbar in IE6/7/8/9 */
  padding-left: 3px;
  vertical-align: top; /* Improves readability and alignment in all browsers */
  width: 100%;
}


/* Alignment */
.alignleft {
  display: inline;
  float: left;
  margin-right: 1.5em;
}
.alignright {
  display: inline;
  float: right;
  margin-left: 1.5em;
}
.aligncenter {
  clear: both;
  display: block;
  margin: 0 auto;
}

/* Text meant only for screen readers */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
}

.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000; /* Above WP toolbar */
}

/* Clearing */
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
  content: '';
  display: table;
}

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
  clear: both;
}

/* =Content
----------------------------------------------- */

.sticky {
	
}
.sticky-icon {
	font-size: 40px;
}
.hentry {
  margin: 0 0 1.5em;
  padding: 20px;
  background: #fff;
}
.home-widget-area {
	background: #fff;
	margin-bottom: 50px;
}

.byline,
.updated {
  display: none;
}
.single .byline,
.group-blog .byline {
  display: inline;
  margin-right: 0;
}
.page-content,
.entry-content,
.entry-summary {
  margin: 1.5em 0 0;
}
.page-links {
  clear: both;
  margin: 0 0 1.5em;
}
#content {
  margin-top: 40px;
  margin-bottom: 40px;
}
/* =Post styling
----------------------------------------------- */
.entry-meta a {
  font-size: 13px;
}
footer.entry-meta {
	clear: both;
}
#main .page-header {
  margin-top: 0;
}

.entry-meta a {
  color: #6B6B6B;
}
.entry-meta .fa {
  font-size: 14px;
  margin-right: 3px;
  color: #1f62dd;
}
.entry-meta span {
  margin-right: 10px;
}
.entry-title {
  font-size: 32px;
  color: #444;
}
.entry-title a {
  color: #444;
}
.entry-title a:hover {
  color: #666;
}
.btn.btn-default.read-more {
  float: right;
  border: 1px solid #E8E8E8;
  color: #1f62dd;
  background-color: #fff;
  margin-top: 10px;
}
.btn.btn-default.read-more:hover {
  color: #FFF;
  background-color: #1f62dd;
}
.search .btn.btn-default.read-more {
  float: none;
}
hr.section-divider {
  border-color: #E8E8E8;
  margin-top: 20px;
  margin-bottom: 0px; 
}

/* =Singe Post/Page Pagination
----------------------------------------------- */
.page-links span {
  display: inline-block;
  color: #fff;
  background-color: #1f62dd;
  border-radius: 4px;
  padding: 2px 10px;
  margin-left: 2px;
}
.page-links a span {
  background-color: inherit;
  border: 1px solid #E8E8E8;
  color: #1f62dd;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
.page-links a:hover span {
  background-color: #1f62dd;
  border: 1px solid #1f62dd;
  color: #fff;
}
/* =Asides
----------------------------------------------- */

.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
  display: none;
}
.comments-area {
	padding: 20px;
	background: rgba(255,255,255,0.8);
}
.home-widget {
	padding: 20px 10px;
}
.content-404, .searchresult {
	background: #fff;
	padding-bottom: 30px;
}
/* =Media
----------------------------------------------- */

.page-content img.wp-smiley,
.entry-content img.wp-smiley,
.comment-content img.wp-smiley {
  border: none;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0;
}
.wp-caption {
  border: 1px solid #ccc;
  margin-bottom: 1.5em;
  max-width: 100%;
}
.wp-caption img[class*="wp-image-"] {
  display: block;
}
.wp-caption-text {
  text-align: center;
}
.wp-caption .wp-caption-text {
  margin: 0.8075em 0;
}
.site-main .gallery {
  margin-bottom: 1.5em;
}
.gallery-caption {
}
.site-main .gallery a img {
  border: none;
  height: auto;
  max-width: 90%;
}
.site-main .gallery dd {
  margin: 0;
}
.site-main .gallery-columns-4 .gallery-item {
}
.site-main .gallery-columns-4 .gallery-item img {
}

/* Make sure embeds and iframes fit their containers */
embed,
iframe,
object {
  max-width: 100%;
}

/* =Widgets
----------------------------------------------- */

#secondary  .widget {
  margin: 0 0 1.5em;
  padding: 10px;
  background: #fff;
}
.widget .nav>li>a {
	padding: 10px 10px;
}
/* Make sure select elements fit in widgets */
.widget select {
  max-width: 100%;
}
#headerimage img {
	max-width: 100%;
	height: auto;
}
/* Search widget */
.widget_search .search-submit {
  display: none;
}

.widget > ul > li, 
li.recentcomments {
  border-bottom: 1px solid #EEE;
  position: relative;
  display: block;
  padding: 10px 0;
}
.widget ul li {
    list-style: none;
}
.widget ul {
    padding: 10px 10px;
}
.widget-title {
  border-bottom: 1px solid #eee;
}
.widget ul.nav.nav-tabs {
  padding: 0;
}
.tab-content ul li {
  list-style: none;
}
#secondary .widget_archive ul li:before,
#secondary .widget_categories ul li:before,
#secondary .widget_recent_comments ul li:before {
  font-family: fontawesome;
  margin-right: 10px;
}
#secondary .widget_archive ul li:before {
  content: '\f073';
}
#secondary .widget_categories ul li:before {
  content: '\f115';
}
#secondary .widget_recent_comments ul li:before {
  content: '\f0e5';
}

.tab-content .tab-thumb {
  float: left;
  margin-right: 8px;
  padding-top: 5px;
  float: left;
  line-height: 0px;
  width: 60px;
  height: 60px;
}
.tab-content li {
  overflow: hidden;
  list-style: none;
  border-bottom: 1px solid #f0f0f0;
  margin: 0 0 8px;
  padding: 0 0 6px;
}
.tab-content .tab-entry {
  display: block;
}
.tab-content > .active {
  border: 1px solid #E8E8E8;
  border-top: none;
}
.tab-content ul li:last-child {
  border-bottom: 0;
  margin-bottom: 0;
  padding-bottom: 0;
}
.tab-content .tab-entry {
  font-size: 14px
}
.tab-comment {
  font-size: 18px;
  padding: 0 2px;
}
.nav-tabs > li > a {
  border-bottom-color: transparent;
  text-transform: uppercase;
}
.tab-content i {
  font-size: 12px;
}
.tab-thumb.thumbnail {
  margin-bottom: 5px;
}
.tab-content #messages li:before {
  content: '\f0e5';
  font-family: fontawesome;
  float: left;
  padding-right: 10px;
  font-size: 20px;
  color: #1f62dd;
}

/* =Buttons
----------------------------------------------- */
.btn-default, .label-default {
  background-color: #1f62dd;
  border-color: #1f62dd;
}
.btn-default:hover, .label-default[href]:hover, .label-default[href]:focus, .btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, #image-navigation .nav-previous a:hover, #image-navigation .nav-next a:hover {
  background-color: #1b926c;
  border-color: #1b926c;
}
.btn.btn-default {
    color: #FFF;
}
/* =Infinite Scroll
----------------------------------------------- */

/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .paging-navigation, /* Older / Newer Posts Navigation (always hidden) */
.infinite-scroll.neverending .site-footer { /* Theme Footer (when set to scrolling) */
  display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before */
.infinity-end.neverending .site-footer {
  display: block;
}
#infinite-handle span {
  display: block;
  text-align: center;
  font-size: 18px;
  margin-bottom: 20px;
  border-radius: 4px;
  padding: 12px;
  background: transparent;
  border: 1px solid #E8E8E8;
  color: #1f62dd;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
#infinite-handle span:hover {
  background-color: #1f62dd;
  color: #fff;
}
/* =Custom Styles
----------------------------------------------- */
.site-branding {
  margin-top: 20px;
  margin-bottom: 20px;
}
.site-description {
  color: #777;
  font-weight: 200;
  font-size: 16px;
}
.page-template-page-homepage-php .carousel {
  margin-top: -20px;
  margin-bottom: 20px;
}

/* =Navigation
----------------------------------------------- */

.site-main [class*="navigation"] a,
.more-link {
  border: 1px solid #E8E8E8;
  padding: 6px 12px;
  border-radius: 4px;
  display: block;
  background: #fff;
}
.site-main [class*="navigation"] a:hover,
.more-link:hover {
  color: #fff;
  background: #1f62dd;
  text-decoration: none;
}
.more-link {
  float: right;
  margin: 10px 0;
}
.site-main [class*="navigation"] {
  margin: 0 0 1.5em;
  overflow: hidden;
}
[class*="navigation"] .nav-previous {
  float: left;
}
[class*="navigation"] .nav-next {
  float: right;
  text-align: right;
}
.navbar.navbar-default {
  background-color: #fff;
  font-weight: 200;
  margin-bottom: 0;
  margin-top: -2px;
  border-bottom: 1px solid #eee;
  position: relative;
  z-index: 999999;
  width: 100%;
}

.navbar-default .navbar-nav > li > a {
  color: #999;
  line-height: 30px;
}
.navbar > .container .navbar-brand {
  color: #1f62dd; 
  height: auto !important;
}
.navbar > .container .navbar-brand span {
 font-size: 14px;
 padding-left: 10px;
 margin-top: -5px;
}
.navbar-default .navbar-nav > .open > a, 
.navbar-default .navbar-nav > .open > a:hover,
 .navbar-default .navbar-nav > .open > a:focus {
  border-right: none;
  border-left: none;
}
.navbar {
  border-radius: 0;
}
.navbar-default {
  border: none;
}
.navbar > .container .navbar-brand {
  font-size: 24px;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus,
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
  color: #fff;
  background-color: #1f62dd;
}
.navbar-default .navbar-nav .open .dropdown-menu > li > a {
  color: #999;
}
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
  border-left: 1px solid rgba(0, 0, 0, 0.1);
}
.dropdown-menu > li > a {
  padding: 14px 20px;
  color: #fff;
}
.dropdown-menu {
	z-index: 9999999;
}
.dropdown-menu,
.dropdown-menu > .active > a, 
.dropdown-menu > .active > a:hover, 
.dropdown-menu > .active > a:focus {
  border: none;
}
.dropdown-menu > .active > a, 
.navbar-default .navbar-nav .open .dropdown-menu > .active > a {
  background-color: #1f62dd;
  color: #fff;
}
  
.dropdown-menu .divider {
  background-color: rgba(0, 0, 0, 0.1);
}
.navbar-nav > li > .dropdown-menu {
  padding: 0;
}
.navbar-nav > li > a {
  padding-top: 18px;
  padding-bottom: 18px;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: transparent;
}
.navbar > .container .navbar-brand {
  line-height: 66px;
  padding: 0px 0px;
}
.nav.navbar-nav {
  float: right;
}
.top-link {
	background: #000;
}
.top-link ul {
	margin: 0px;
	padding: 5px 0px;
	list-style-type: none;
}
.top-link ul li {
	display: inline-block;
	padding: 3px 10px;
}
.top-link ul li ul {
	position: absolute;
	display: none;
}
.top-link ul li a  {
	color: #666;
}
.top-link ul li a:hover  {
	color: #fff;
}

.footer-nav {
	margin: 0px;
	padding: 5px 0px;
	list-style-type: none;
}
.footer-nav li {
	display: inline-block;
	padding: 3px 10px;
}
.footer-nav li ul {
	position: absolute;
	display: none;
}
.footer-nav li:hover ul {
	position: absolute;
	display: none !important;
}
.footer-nav li a  {
	color: #666;
}
.footer-nav li a:hover  {
	color: #fff;
}

#menu-secondarymenu {
	margin: 0px;
	padding: 5px 0px;
	list-style-type: none;
}
#menu-secondarymenu li {
	display: inline-block;
	padding: 3px 10px;
}
#menu-secondarymenu li a  {
	color: #666;
}
#menu-secondarymenu li a:hover  {
	color: #fff;
}
.header-social ul {
	text-align: right;
}
@media (max-width: 767px) {
  .nav.navbar-nav {
    float: none;
  }
}  
/* =Comments
----------------------------------------------- */

.comment-content a {
  word-wrap: break-word;
}
.bypostauthor {
}

#respond {
  background-color: transparent !important;
  box-shadow: none !important;
  padding: 0px !important;
}
  
#respond > p, #respond p.comment-notes, p.logged-in-as {
  margin-bottom: 10px;
}

p.logged-in-as {
  padding-bottom: 0px;  
}

.comment-list {
  margin-bottom: 40px !important;
  margin-left: 0px !important;
  padding-left: 0;  
}

.comment .comment-body {
  background-color: #ffffff;
  margin: 0;
  overflow: hidden;
  padding: 25px;
  margin-top: 2em;
  padding-left: 116px;
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0);
  border-color: #E8E8E8;
  border-radius: 4px;
}

.comment-list .children {
  margin-left: 0px!important;
  padding-left: 40px;
  border-left: 1px solid #E8E8E8;
  background-repeat: no-repeat;
  background-position: left 20px;
}

.comment-list li.comment > div img.avatar {
  position: absolute;
  left: 29px;
  top: 29px;
}

#comment-form-title {
  font-size: 24px;
  padding-bottom: 10px;
}
.vcard .avatar {
  position: absolute;  
  left: 29px;  
  top: 29px;
}
.comment-metadata {
  font-size: 11px;
  line-height: 16px;
  margin-bottom: 10px;
}
.comment-reply-link {
  float: right;
}
.form-allowed-tags code {
  word-wrap: break-word;
  white-space: inherit;
}
.comment-respond label {
  display: block;
  font-weight: normal;
}
.comment-respond .required {
  color: #C7254E;
}


/* =Attachment styling
----------------------------------------------- */
#image-navigation .nav-previous a,
#image-navigation .nav-next a{
  padding: 5px 20px;
  border: 1px solid #E8E8E8;
  border-radius: 4px;
  display: block;
}
#image-navigation .nav-previous a:hover,
#image-navigation .nav-next a:hover{
  background-color: #1f62dd;
  color: #fff;
}
#image-navigation .nav-previous,
#image-navigation .nav-next {
  margin: 10px 0;
}

/* =Footer
----------------------------------------------- */

#footer-area {
  background-color: #313233;
  color: #CCC;
  font-size: 12px;
}
#footer-area a {
  color: #ccc;
}
#footer-area .footer-widget-area {
  padding: 40px 0 20px 0;
  overflow: hidden;
}
#footer-area ul li {
  border-bottom: 1px solid #444;
}
#footer-area .site-info nav ul li {
    border-bottom: none;
}
#footer-area .tab-content > .active {
  border: none;
}
#footer-area .nav-tabs > li.active > a, #footer-area .nav-tabs > li.active > a:hover, #footer-area .nav-tabs > li.active > a:focus {
  background-color: transparent;
}
#footer-area .tab-content .tab-entry {
  font-size: inherit;
}
#footer-area .widgettitle {
  font-size: 18px;
  color: inherit;
  margin-top: 0px;
}
#footer-area #social ul li {
  border-bottom: none;
}
#footer-area .widget ul li {
    padding: 10px 0;
    list-style: none;
}
.footer-nav.nav > li {
  position: relative;
  display: inline-block;
}
.footer-nav.nav {
  float: left;
  margin-bottom: 2px;
}
.copyright {
  margin-top: 10px;
  text-align: center;
}
#colophon {
  background-color: #1F1F1F;
  padding: 10px 0;
  border-top: 1px solid #3A3A3A;
}
.site-info a {
  color: #777;
}
.site-info a:hover {
  color: #999;
}
#footer-area a:hover {
  color: #fff;
}
.site-info {
  color: #999;
  font-size: 12px;
}
.footer-nav.nav > li > a:hover {
    background-color: transparent;
}
.scroll-to-top {
  background: #3B3B3B;
  background: rgba(0, 0, 0, 0.4);
  color: #FFF;
  bottom: 4%;
  cursor: pointer;
  display: none;
  position: fixed;
  right: 20px;
  z-index: 999;
  font-size: 16px;
  padding: 2px 10px;
  border-radius: 4px;
  transition: background-color 0.1s linear;
  -moz-transition: background-color 0.1s linear;
  -webkit-transition: background-color 0.1s linear;
  -o-transition: background-color 0.1s linear;
}
.scroll-to-top:hover {
  background: #1f62dd;
  opacity: .8;  
}

/* =Mobile Styling
----------------------------------------------- */

@media (max-width: 768px) {
  .pull-right {
    float: none !important;
  }
  .pull-left {
    float: none !important;
  }
  .site-info, .copyright {
      text-align: center;
  }
  .footer-nav.nav, .copyright {
    float: none;
  }
  .flex-caption {
    display: none;
  }
}

/* =Social icons
----------------------------------------------- */

.top-bar {
    border-bottom-color: #E8E8E8;
}
.social-profile {
    font-size: 20px;
    margin: 6px;
    color: #E8E8E8;
}
#social {
    top: 0;
    position: relative;
    text-align: center;
}
#social ul li {
  list-style: none;
  display: inline-block;
  padding: 0 5px;
}
#social ul {
  margin-bottom: 0;
  padding: 0;
}
.fa-googleplus:before {
  content: "\f0d5";
}
@media (max-width: 992px) {
  .site-branding {
    text-align: center;
  }
  #social {
    top: 0;
    float: none;
    text-align: center;
  }
}

/* =Call For Action
----------------------------------------------- */

.callforaction{
  padding: 15px 0px 30px 0px;
  background: #1f62dd;
}
.callforaction-text{
  font-size: 20px;
  color: #fff;
  display: block;
  padding: 10px 0px;
  text-align: center;
}
.callforaction-button {
  background-color: transparent;
  color: #fff;
  padding: 8px 30px;
  border-color: #fff;
  display: block;
  margin: auto;
}
.cfabtn {
	float: none;
	margin: auto;
}
.callforaction-button a,
.callforaction-button a {
  color: #fff;
}
.callforaction-button:hover {
    background-color: #fff;
    color: #1f62dd;
}
.callforaction-button:hover a {
    color: #1f62dd;
}

.nav>li:hover ul {
	display: block;
}
.nav>li ul li a {
	color: #666;
}
